/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*nav {
    background-color: #8080ff;
}*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

ul {
    display: flex;
    margin: 0;
}

a {
  color: #0077cc;
}

nav li {
    display: inline-block;
    padding: 10px 10px;
    overflow: visible;
    border-right: 1px solid #fff;
}

nav li:hover {
    background-color: beige;
    display: inline-block;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropbtn {
    background-color: #f9f9f9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content a {
    color: #404040;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.show {
    display: block;
}

/*.bi {
    font-size: 20px;
    /*display: inline-block;
}

*:before {
    box-sizing: inherit;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
