@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="privacy-p1">We are pressuring our developer team to complete this site as soon as possible.</p>
<p class="privacy-p2">No one should replicate the site that will look exactly like ours. No one should use our source code for their project.</p>
<p class="privacy-p3">If anyone found doing such act, then we will hunt them down.</p>